<div class="row title">
  <h3 class="col-xs-6 col-sm-6">פרטים</h3>
  <div class="col-xs-6 col-sm-6">
    <a *ngIf="student?.Id" (click)="clearAll()" class="btn btn-top btn-outline-info">חדש</a>
    <a [routerLink]="'/'" class="btn btn-top btn-outline-info">חזרה לרשימה</a>
  </div>
</div>
<form (ngSubmit)="onSubmit({valid:true})">
  <div class="form-group row">
    <label class="col-sm-3">שם</label>
    <div class="col-sm-9">
      <input type="text"
             autocomplete="off"
             name="name"
             class="form-control"
             [(ngModel)]="student.Name">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3">גיל</label>
    <div class="col-sm-9">
      <input type="number"
             autocomplete="off"
             name="age"
             class="form-control"
             [(ngModel)]="student.Age">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3">כיתה</label>
    <div class="col-sm-9">
      <input type="text"
             autocomplete="off"
             name="class"
             class="form-control"
             [(ngModel)]="student.Class">
    </div>
  </div>
  <div class="form-group footer">
    <button type="submit" class="btn btn-top btn-outline-info">אישור</button>
    <button #resetBtn type="reset" class="btn btn-top btn-outline-info">נקה</button>
  </div>

</form>

