
  <div class="row title">
      <h3 class="col-sm-6">תלמידים</h3>
    <div class="col-sm-6">
      <a [routerLink]="'/student-details/0'" class="btn btn-top btn-outline-info">הוספה</a>
    </div>
  </div>
  <div class="table-responsive">

    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>שם</th>
          <th>גיל</th>
          <th>כיתה</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of api.students">
          <td>
            <div class="actions-wrapper">
                <a [routerLink]="'/student-details/'+student.Id" class="btn btn-sm btn-outline-secondary">עריכה</a>
            </div>
          </td>
          <td>{{student.Name}}</td>
          <td>{{student.Age}}</td>
          <td>{{student.Class}}</td>

        </tr>
      </tbody>
    </table>

  </div>
